body{
    background-color: #2C3639;
}

.hed{
    color: #A27B5C;
    font-weight: bolder;
}

header{
    font-family: 'Inter Tight', sans-serif;   
    font-size: 25px;
}

.opis{
    color: #A27B5C!important;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
}

.sens{
    color: #3F4E4F;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}
.haha{
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.list-friend > .list-group-item{
    background-color: #DCD7C9;
    color: #A27B5C;
    font-size: 30px;
    font-weight: bold;
    border-color:#3F4E4F;
    text-align: center;
}

.num2{
    background-color:#DCD7C9;
}

.main1{
    background-color:#DCD7C9;
}

img{
    border: 5px solid black;
   width: 100%;
   height: auto;
}
/*
.carousel-item{
    width: 400px;
    height: 400px;
}*/

.carousel-caption{
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.carousel-inner > .carousel-item > img {
    object-fit: cover;
  }
.opis2{
    font-family: 'Rubik', sans-serif;
    color: #DCD7C9;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
  .opis1{
    color:#DCD7C9;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 40px;
}
.pic1{
    max-width: 700px;
}

#car{
    padding-bottom: 40px;
}

#footer{
    background-color: #DCD7C9;
    min-height: 15vh;
    font-size: 20px;
}    

.cl-cl{
    color:#DCD7C9;
}

.cl-cl1{
    color:#A27B5C!important;
}

.actived{
    background-color: #A27B5C!important;
    border-color: #2C3639;
}